/*SECCION CONTACT*/
.grilla5{
    width: 98%;
    max-width: 1400px;
    margin: 20px auto;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(4,auto);
    grid-template-areas:
    "header header header"
    "box1 box1 box1"
    "foot foot foot";
    .box1{
        background-color:rgb(236, 230, 230);
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        margin-left: 80px;
        margin-right: 80px;
        display: block;
        align-items: center;
        justify-content: center;
        grid-area: box1;   
    }
    #gap:hover {
        font-size: 24px;
     }
    .casillero{
        width: 300px;
        margin-bottom: 15px;
    }
}