/*Footer*/

.foot{
    background-color: rgb(90, 90, 87);
    border-radius: 4px;
    padding: 20px;
    grid-area: foot;
    text-align: center;
    height: 100px;
}
.redes{
    color: rgb(36, 34, 34);
    text-decoration: none;
}
.redes:hover{
    color: rgb(218, 214, 214);
}