/*Header y NavBar*/

header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,.40);
    .log0{
        font-family: 'Permanent Marker', cursive;
    }
    .bordo{
        background-color:rgb(100, 11, 11) ;
        justify-content: space-between;
    }
    .dropdown-menu {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1rem;
        color: #000;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
}
.header{
    background-color: rgb(100, 11, 11);
    padding: 20px;
    border-radius:4px;
    grid-area: header;
}